@forward '../../node_modules/normalize.css/normalize.css';
@forward './fonts.scss';
@use './colors.scss' as *;

/*Reset*/
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'League Spartan Variable', sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    padding: 0 40px;
  }
}

/*Dining section*/
.header {
  padding-top: 65px;
  margin-bottom: 153px;
  @media (max-width: 950px) {
    margin: 0;
    padding-top: 374px;
    text-align: center;
  }
  @media (max-width: 650px) {
    padding-top: 232px;
  }
}

.dining {
  padding-bottom: 198px;
  background-image: url('../images/homepage/hero-bg-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  color: $White;

  @media (max-width: 950px) {
    background-image: url('../images/homepage/hero-bg-tablet.jpg');
    background-position: top;
    text-align: center;
  }

  @media (max-width: 650px) {
    background-image: url('../images/homepage/hero-bg-mobile.jpg');
  }

}

.dining-title {
  margin-bottom: 10px;
  max-width: 507px;
  text-align: left;

  @media (max-width: 950px) {
    margin: 38px auto 0;
    max-width: 360px;
    text-align: center;
  }
}
.dining-text {
  margin-bottom: 40px;
  max-width: 445px;
  @media (max-width: 950px) {
    margin: 20px auto 50px;
    max-width: 575px;
    text-align: center;
  }
}
