---
import '../styles/global.scss'

import { Picture } from 'astro:assets';

import HeroBg from '../images/homepage/hero-bg-desktop.jpg'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section class="dining">
			<div class="container">
				<h1 class="dining-title title-xl">
					Exquisite dining since 1989
				</h1>
			</div>
		</section>
	</body>
</html>
